In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("fake_news.csv")
data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [4]:
data.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [5]:
data = data.drop(['id'], axis=1)

In [6]:
# fill missing values with empty string
data = data.fillna('')

In [7]:
data['content'] = data['author']+' '+ data['title']+' '+data['text']

In [8]:
data = data.drop(['title','author', 'text'], axis=1)

In [9]:
data.head()

   label                                            content
0      1  Darrell Lucus House Dem Aide: We Didn’t Even S...
1      0  Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2      1  Consortiumnews.com Why the Truth Might Get You...
3      1  Jessica Purkiss 15 Civilians Killed In Single ...
4      1  Howard Portnoy Iranian woman jailed for fictio...

In [10]:
# Convert to lowercase
data['content'] = data['content'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [11]:
# Remove punctuation
data['content'] = data['content'].str.replace('[^\w\s]','')

<>:2: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\w'
C:\Users\srikanth\AppData\Local\Temp\ipykernel_12260\2395591190.py:2: SyntaxWarning: invalid escape sequence '\w'
  data['content'] = data['content'].str.replace('[^\w\s]','')

In [12]:
# Do lemmatization
from nltk.stem import WordNetLemmatizer
from textblob import Word
data['content'] = data['content'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['content'].head()

0    darrell lucus house dem aide: we didn’t even s...
1    daniel j. flynn flynn: hillary clinton, big wo...
2    consortiumnews.com why the truth might get you...
3    jessica purkiss 15 civilian killed in single u...
4    howard portnoy iranian woman jailed for fictio...
Name: content, dtype: object

In [13]:
#separating the data and label
X = data[['content']]
y = data['label']

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
# splitting into training and testing data

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=45, stratify=y)

In [16]:
#validate the shape of train and test dataset

print (X_train.shape)

print (y_train.shape)

print (X_test.shape)

print (y_test.shape)

(14560, 1)
(14560,)
(6240, 1)
(6240,)

In [18]:
#separating the data and label

X = data[['content']]

y = data['label']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
# splitting into training and testing data

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=45, stratify=y)

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [22]:
tfidf_vect = TfidfVectorizer(analyzer='word', token_pattern=r'\w{1,}', max_features=5000)

tfidf_vect.fit(data['content'])

xtrain_tfidf = tfidf_vect.transform(X_train['content'])

xtest_tfidf = tfidf_vect.transform(X_test['content'])

MODEL BUILDING

from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn import metrics
pclf = PassiveAggressiveClassifier()
pclf.fit(xtrain_tfidf, y_train)
predictions = pclf.predict(xtest_tfidf)
print(metrics.classification_report(y_test, predictions))

In [28]:
print(metrics.confusion_matrix(y_test,predictions))

[[3010  106]
 [ 102 3022]]

2.MLP CLASSIFIER

In [ ]:
from sklearn.neural_network import MLPClassifier
mlpclf = MLPClassifier(hidden_layer_sizes=(256,64,16),
activation = 'relu',
solver = 'adam')
mlpclf.fit(xtrain_tfidf, y_train)
predictions = mlpclf.predict(xtest_tfidf)
print(metrics.classification_report(y_test, predictions))

In [ ]:
import pickle
# Save trained model to file
pickle.dump(mlpclf, open("fakenews1.pkl", "wb"))

In [ ]:
<!DOCTYPE html>

<html >

<head>

  <meta charset="UTF-8">

  <title>Fake News Detection App</title>

</head>

<body>

 <div class="login">

    <h1> Type News:</h1>

In [ ]:
<form action="{{ url_for('predict')}}" method="POST">

        <textarea  name="message" rows="6" cols="50" required="required" style="font-size: 18pt"></textarea>

        <br> </br>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

 

            <div class="results">

 

    {% if prediction == ['FAKE']%}

    <h2 style="color:red;">Looking Spam News!</h2>

    {% elif prediction == ['REAL']%}

                <h2 style="color:green;"><b>Looking Real News!</b></h2>

    {% endif %}

    </div>

    </form>

</div>